:root {
    --bs-body-bg: #FDFCF8;          /* Color de fondo principal del documento. */
    --bs-body-color: #141414;       /* Color de texto principal. */

    --bs-secondary-bg: #F2F0E9;     /* Color de fondo secundario. */
    --bs-secondary-color: #666666;  /* Color de texto secundario. */

    --bs-tertiary-bg: #F8F4EC;      /* Color de fondo terciario. */
    --bs-tertiary-color: #8A8A8A;   /* Color de texto terciario. */

    --bs-primary: #C5A021;
    --custom-primary-hover: #9B7D1A;

}

html[data-bs-theme="dark"] {
    --bs-body-bg: #121212;
    --bs-body-color: #F5F5F5;

    --bs-secondary-bg: #1E1E1E;
    --bs-secondary-color: #B0B0B0;

    --bs-tertiary-bg: #1A1A1A;
    --bs-tertiary-color: #999999;

    --bs-primary: #D4AF37;
    --custom-primary-hover: #B8962F;
}